* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444;
}

#frame {
    position: relative;
    width: 100%;
    max-width: 800px;
    border: 10px solid #222;
    border-radius: 100%;
    overflow: hidden;
}

#frame:before {
    content: '';
    display: block;
    padding-top: 100%;
}

#screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    display: block;
    touch-action: none;
    user-select: none;
    width: 100%;
    height: 100%;
}